 {% extends 'contact.html' %}
 {% block start %}
 <div style="text-align: center; padding: 20px;"   >
 <h3>RECEIPES COLLECTIONS</h3>
   <p>Mother nature gifted us a lot of edible fruits,grains and vegitables.
      Across the world people prepare delicius dishes from them.

   </p>
   <p> Here is a small attempt to collect and share the receipes 
      across the world. </p>

      <p>You can create an account and share the name of dish,description and image url You know.</p>
     
    <br>

    <div style="text-align: center;"> 
      <a class="btn btn-primary" href="/" role="button">Home</a>
      <a class="btn btn-primary" href="/contact/" role="button">Contact</a>
     </div>
     <br>
   </div>
    {% endblock %}

