<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<body>

    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
         {% if request.user.is_authenticated %}
            <a href="{% url 'log_out' %}" class="btn btn-outline-success"  role="button">Logout</a>
         {% else %}
         <a href="{% url 'login_page' %}" class="btn btn-outline-success"  role="button">Login</a>
         {% endif %}
        </form>
      </nav>

    {% block start %}
    {% endblock %}
</body>
</html>