{% extends 'base.html' %}
{% block start %}

<div class="container mt-5">

    <h1>Login</h1>

 
     

    <div class="mt-5">
        <div class="mx-auto col-6">
             
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">User Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Password</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
                <button type="submit" class="btn btn-primary">Login</button>
              </div> 

                  
         
              <p>Dont Have an account?</p> 
              <a href="/register/">Create an Account!</a>
        </div>
            
    </div>
</div>

</div>



{% endblock %}