{% extends 'base.html' %}
{% block start %}

<div class="container mt-5">
    
    <h1>Add Receipe</h1>
    <p>All You need is :</p>
    <p>Receipe name,Description and an url of receipe image!</p>
    
    <form class="col-6 mx-auto mb-3 card p-3 shadow-lg" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Recipe Name</label>
            <input  name="receipe_name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label  for="exampleInputPassword1" class="form-label">Recipe Description</label>
            <textarea name="receipe_decription"  class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Url </label>
            <textarea name="receipe_image"  class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

        <div class="mt-5">
          <div class="mx-auto col-6">
            <form>
            <div class="mb-3">
              
              <label for="exampleInputEmail1" class="form-label">Search Receipe </label>
              <input  name="search"   type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <button type="submit" class="btn btn-primary">Search</button>
            </form>
          </div>
          
          </div>
        </div>

</div>
  

<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Receipe Name</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    {% for item in receipe %}

    <tr style="text-align: center;">
       
      <td>{{forloop.counter}}</td>
      <td >{{item.receipe_name}}</td>
      <td>{{item.receipe_decription}}</td>
     <td> <img style="height: 50px;"src="{{item.receipe_image}}"></td>
     <td><a href="{% url 'delete_receipe' id=item.id %}" class="btn btn-danger">Delete</a></td>
     <td><a href="{% url 'update_receipe' id=item.id %}" class="btn btn-success ">Update</a></td>
    </tr>
    {% endfor %}
      
  </tbody>
</table>
{% endblock %}
